.App {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .App {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .App {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .App {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .App {
    max-width: 1140px;
  }
}
